.modalcontainer {
  display: none;
  position: absolute;
  float: left;
  left: 55%;
  top: 60%;
  z-index: 1;
  width: 850px;
  height: 750px;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.card {
  width: 800px;
  background-color: #e2e5e5;
  padding: 15px;
}

.card nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
}

.card nav:first-child {
  margin-bottom: 20px;
  border-bottom: 1px solid #a3a2a2;
}

.card nav:first-child button {
  background-color: #ecbc63;
  border: none;
  color: #333;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.card nav:first-child button:hover {
  color: #fff;
}

.card nav:last-child {
  justify-content: right;
  margin-top: 20px;
  border-top: 1px solid #a3a2a2;
}

.card nav input[type="submit"] {
  margin-right: 10px;
  background-color: #178a38;
  border: none;
  color: #333;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.card nav input[type="submit"]:hover {
  background-color: #dd9898;
}

.card nav:last-child button {
  margin-right: 10px;
  background-color: #dd9898;
  border: none;
  color: #333;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.card nav:last-child button:hover {
  color: #fff;
}

.modaltable {
  width: 100%;
}

.modaltable td {
  border: none;
  padding: 0;
}

.modaltable td:first-child {
  width: 30%;
}

.modaltable input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modaltable input[type="text"]:focus {
  outline-style: none;
  border: 1px solid #dd9898;
}

.modaltable select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modaltable select:focus {
  outline-style: none;
  border: 1px solid #dd9898;
}

.modaltable textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modaltable textarea:focus {
  outline-style: none;
  border: 1px solid #dd9898;
}

.modaltable input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modaltable input[type="number"]:focus {
  outline-style: none;
  border: 1px solid #dd9898;
}

.modaltable input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modaltable input[type="date"]:focus {
  outline-style: none;
  border: 1px solid #dd9898;
}

.orgTable {
  border-collapse: collapse;
  width: 100%;
}

.orgTable th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.orgTable tr:nth-child(even) {
  background-color: #dddddd;
}

.editicon img {
  width: 15px;
  height: 15px;
}

.deleteicon img {
  width: 15px;
  height: 15px;
}

.lastsidenav {
  opacity: 0.8;
  border-bottom: 1px solid #d4d1d1;
}
