<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="content-security-policy|content-type|default-style|refresh"
    />
    <title>Quotations App | Home Page</title>
    <link
      rel="icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="/styles/app.css"
    />
  </head>
  <body>
    <div class="topnav">
      <p>Quotations App</p>
      <!-- <div class="topnavcenter">
        <ul>
          <li><a href="home.html">Home</a></li>
          <li>
            <a href="quotation.html"
              >Quotations</a
            >
          </li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div> -->
      <p>Admin</p>
    </div>

    <div class="main">
      <section class="main-home">
        <div>
          <a href="/view/home.html">หน้าหลัก</a>
        </div>
        <div>
          <a href="/view/company.html"
            >ข้อมูลบริษัท</a
          >
        </div>
        <div>
          <a href="/view/bank.html"
            >ข้อมูลธนาคาร</a
          >
        </div>
        <div>
          <a href="/view/customer.html"
            >ข้อมูลลูกค้า</a
          >
        </div>
        <div>
          <a href="/view/quotation.html"
            >ทำใบเสนอราคา</a
          >
        </div>
        <div>
          <a href="/view/quotationreport.html"
            >รายงานใบเสนอราคา</a
          >
        </div>
        <div>
          <a href="#" id="logout">ออกจากระบบ</a>
        </div>
      </section>
    </div>

    <span id="versionnumber"
      >quotations app v.1.21102567</span
    >

    <script src="../scripts/logout.js"></script>
  </body>
</html>
