<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="content-security-policy|content-type|default-style|refresh"
    />
    <title>
      Quotations App | Quotations Report Page
    </title>
    <link
      rel="icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="/styles/app.css"
    />
    <link
      rel="stylesheet"
      href="/styles/quotationreport.css"
    />
  </head>
  <body>
    <div class="topnav">
      <p>Quotations App</p>
      <div class="topnavcenter">
        <ul>
          <li>
            <a href="/view/home.html">หน้าหลัก</a>
          </li>
          <li>
            <a href="/view/company.html"
              >ข้อมูลบริษัท</a
            >
          </li>
          <li>
            <a href="/view/bank.html"
              >ข้อมูลธนาคาร</a
            >
          </li>

          <li>
            <a href="/view/customer.html"
              >ข้อมูลลูกค้า</a
            >
          </li>
          <li>
            <a href="/view/quotation.html"
              >ทำใบเสนอราคา</a
            >
          </li>
          <li>
            <a href="/view/quotationreport.html"
              >รายงานใบเสนอราคา</a
            >
          </li>
          <li>
            <a href="#" id="logout">ออกจากระบบ</a>
          </li>
        </ul>
      </div>
      <p>Admin</p>
    </div>

    <div class="main-secondary">
      <nav>
        <p>Quotations Report List</p>
        <p>รายงานใบเสนอราคา</p>
        <!-- <button type="button" id="add-quotation">
          Quotations Report!
        </button> -->
      </nav>
      <section></section>
    </div>

    <div class="main">
      <div>
        <form id="reportform" class="main-layout">
          <div>
            <p>โปรดเลือกบริษัท</p>
            <select
              name="choosecompany"
              id="choosecompany"
              required
            >
              <option value="choose">
                กรุณาเลือก
              </option>
            </select>
          </div>
          <div>
            <p>โปรดเลือกลูกค้า</p>
            <select
              name="choosecustomer"
              id="choosecustomer"
              required
            >
              <option value="choose">
                กรุณาเลือก
              </option>
            </select>
          </div>
          <div>
            <p>โปรดเลือกรายละเอียด</p>
            <select
              name="itemdetails"
              id="itemdetails"
              required
            >
              <option value="choose">
                กรุณาเลือก
              </option>
            </select>
          </div>
          <div>
            <p>โปรดเลือกธนาคาร</p>
            <select
              name="choosebank"
              id="choosebank"
              required
            >
              <option value="choose">
                กรุณาเลือก
              </option>
            </select>
          </div>
          <div>
            <button type="button" id="getreport">
              Quotations Report!
            </button>
          </div>
        </form>
      </div>
    </div>

    <div id="logo"></div>
    <span id="versionnumber"
      >quotations app v.1.21102567</span
    >

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.12/pdfmake.min.js"
      integrity="sha512-axXaF5grZBaYl7qiM6OMHgsgVXdSLxqq0w7F4CQxuFyrcPmn0JfnqsOtYHUun80g6mRRdvJDrTCyL8LQqBOt/Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.12/vfs_fonts.js"
      integrity="sha512-nNkHPz+lD0Wf0eFGO0ZDxr+lWiFalFutgVeGkPdVgrG4eXDYUnhfEj9Zmg1QkrJFLC0tGs8ZExyU/1mjs4j93w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.8/dayjs.min.js"
      integrity="sha512-af90l7+r/ujCury3kqomcoZ4aNuC4JP0xUUU682bqlRCLLvGJrc9L82zONFccLWmxcMXSqO9d6C7Rr39EkbT3Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      dayjs().toDate();
    </script>
    <script src="../scripts/logout.js"></script>
    <script src="../scripts/quotationreport.js"></script>
  </body>
</html>
